<div id="canvas-wrapper" class="wrapper canvas-wrapper">

	{% include '@wellspring/partials/header.html.twig' %}

	<div id="content-wrapper" class="wrapper content-wrapper">
		
		<a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

		{% if page.hero %}
			{% include '@wellspring/partials/hero.html.twig' %}
		{% endif %}
			
		<main id="content" class="content {% if page.aside %}with-aside{% endif %}"  role="main">

			{% include '@wellspring/partials/content.html.twig' %}

			{% if page.aside %}
				{% include '@wellspring/partials/aside.html.twig' %}
			{% endif %}

		</main>

		{% include '@wellspring/partials/footer.html.twig' %}

	</div>

</div>

