.canvas-wrapper
	header
		a
			&.site-logo
				img
					height 3rem
					width auto

			&.site-name
				text-decoration none
				font-size 1.3rem
				text-transform uppercase
				font-family serif-default, serif-family
				color primary-black

		p
			&.site-slogan
				margin 0