html,
body
	height 100vh
	overflow hidden
body
	#content-wrapper
		flex-grow 1
	#canvas-wrapper,
	#content-wrapper
		display flex
		flex-direction column
	.dialog-off-canvas-main-canvas,
	#canvas-wrapper
		height 100%
		header, main, footer
			padding padding-default
